<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} | Nodify</title>
    <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.0.2/polaris.css">
    <link rel='stylesheet' href='/css/foundation.min.css' />
    <link rel='stylesheet' href='/css/app.css' />

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <script src="https://cdn.shopify.com/s/assets/external/app.js"></script> -->
    <!-- <script type="text/javascript">{{{shopHeader}}}</script> -->


  </head>
  <body>
    <main>
